#trivia-title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

#main-body {
    border: 1px solid #dcdcdc;
    padding: 20px;
    width: 70%;
}

#start-over {
    color: grey;
    background-color: #c0deed;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #dcdcdc;
    padding: 7px;
}